{% extends 'base.html' %} 

{% block info %}

<h2>Bienvenidos</h2>
<div><p>¿Cúal es el viaje de la mirada? La mirada del pasado intuyendo el futuro. La mirada del futuro observando el pasado. Traspasa la barrera del tiempo y 
    crea una transferencia emocional mediante la unión entre las miradas de épocas distintas.  Comienza un viaj de ida y vuelta en el tiempo, sin parada y con 
    destino a la experimentación de sensaciones de otros teimpos. Son los contrastes de la mirada.
</p></div>
{% endblock  %}